/* font-family: 'Anton', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Karantina', cursive;
font-family: 'Roboto Mono', monospace; */

/* Global settings */
:root{
    /* setting custom variables */
    --primary-color:#68C1B9;
    --secondary-color: white;
    --tertiery-color: #A23B72;
    --background-main: #FFAADB;  
    /* smooth scrolling (ex back to top button) */
    scroll-behavior: smooth;
}
/* all text white */
*{color: white;}
/* styling headings and add google fonts */
h1{
    font-family: 'Anton', sans-serif;
    font-size: 36px;
    padding: 0.25em 0;
}
h2{
    font-family: 'Karantina', sans-serif;
    font-size: 35px;
}
h3{
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
}
h4{
    font-family: 'Inconsolata', monospace;
    font-size: 19px;
}
h5,h6 {
    font-family: 'Inconsolata', monospace;
}
/* styling placeholder paragraphs anchor tags and labels */
p,a,::placeholder,label{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
}
/* styling nav */
nav{
    background-color: var(--primary-color);
    padding: 1em 0;    
}
/* footer styling */
footer{
    background-color: var(--primary-color);
    padding: 2em 0;
}
/* logo size */
.logo{
    width: 35%;
}
/* hide desktop logo */
.desktop{
    display:none;
}
/* use wrapper to center content */
.wrapper{
    margin: 0 auto;
    background-color: var(--background-main);
}
/* blue overlay for hero */
.tint{
    background-color: rgba(104, 193, 186, 0.80);
    border: 4px solid var(--background-main);
}
/* hero banner styling */
.hero{
    /* use image as background */
    background-image: url(/images/homeHero.jpg);
    background-size: cover;
    /* shift background picture on y axis */
    background-position: 0 80%;
    text-align: center;
}

/* sample text align */
.samples{
    text-align: center;
}
/* styles skill sections */
.skill{
    text-align: center;
    background-color: var(--primary-color);
    margin: 2em 0;
    padding: 0.5em 0;
}
.skill p{
    padding: 0.5em 1em 0.25em 1em;
}
/* style hero button */
.hero a{
    background-color: var(--primary-color);
    border: 3px solid var(--background-main);
    padding: 0.25em 0.5em;
    text-decoration: none;
}
/* style hero button */
.hero a:link, .hero a:visited{
    color: white;
    text-decoration: none;
}
.hero a:hover, .hero a:active{
    color: var(--tertiery-color);
    text-decoration: underline;
}
/* textbutton margin to fix hero section button */
.hero p:nth-child(3){
    margin: 2em;
}
/* hero paragraph space */
.hero p:nth-child(2){
    padding: 0 1em 2em 1em;
}
/* styles sample gallery images */
.sample img{
    width: 100%;
    border: 5px solid var(--primary-color);
    box-sizing: border-box;
}
/* spacing for text in sample */
.sample p{
    padding: 0.5em 0 1em 0;
}
.samples h3{
    padding: 0.3em 0 0.25em 0;
}
/* styles navigation bar and logo */
div.navBar {
    display: flex;
    flex-direction: row;
    /* vertically center items */
    align-items: center;
    /* distribute logo and nav links with space around */
    justify-content: space-around;
}
/* styles nav links */
nav a{
    font-size: 1.6em;
    text-decoration: none;
}
/* style nav links */
nav a:link, nav a:visited{
    text-decoration: none;
    color: white;
}
nav a:hover, nav a:active{
    color: var(--tertiery-color);
    text-decoration: underline;
}
/* nav link spacing */
nav ul li{padding: 0.5em 0;}
/* styles active link in nav ul */
.active:link, .active:visited{
    text-decoration: underline;
    color: var(--tertiery-color);
}
.active:hover, .active:active{
    text-decoration: underline;
    color: white;
}
/* align text in footer */
footer p{
    text-align: center;
    padding: 0.25em 0;
}
footer div{
    padding-bottom: 1em;
}
footer a{
    color: var(--tertiery-color);
    font-weight: bold;
}
footer a:link, footer a:visited{
    color: var(--tertiery-color);
    text-decoration: underline;
}
footer a:hover, footer a:active{
    color: white;
    text-decoration: none;
}
/* hide social media links on mobile */
footer div div, footer div script{
    display: none;
}