h2{padding-bottom: 0.2em;}
/* change hero background image */
.hero{
    /* use image as background */
    /* work around for hero image not working */
    background-image: url(https://github.com/habb0016/portfolio/blob/main/images/productsHero.jpg?raw=true);
}
/* background for product gallery section */
.productGallery{
    background-color: var(--primary-color);
}
/* padding before footer */
section.laserEngraving{padding-bottom: 1.5em;}
/* styles products h2*/
.productGallery h2{
    text-align: center;
    padding-top: 0.5em;
}
/* style images in gallery */
.productGallery img{
    width: 100%;
    border: 5px solid var(--background-main);
    box-sizing: border-box;
    margin: 0.5em 0 1em 0;
}
/* styling sections with only text */
.questions, .webDevelopment, .logoDesign, .graphicDesign, .laserEngraving{
    text-align: center;
    padding: 0.5em 2em;
}

